body {
  overflow-y: hidden;
  background-color: var(--gray2);
}

footer {
  color: var(--gray1);
  font-family: var(--brødtekst);
  font-size: 110%;
  position: absolute;
  bottom: 0;
  text-align: center;
}

.tekst {
  color: var(--gray1);
  font-family: var(--brødtekst);
  margin: 1%;
}

.overskrift {
  color: var(--gray1);
  font-family: var(--overskrift);
  margin: 1%;
  font-size: 170%;
}

.main {
  font-size: 2vh;
}

.backdrop {
  background-color: var(--green2);
  border-radius: 20px;
  height: auto;
  margin: 5%;
  height: 80%;
  overflow: hidden;
  position: relative;
}

.link {
  color: var(--green1) !important;
}

#git {
  width: 10vh;
  margin-left: 1%;
}

#mail {
  width: 10vh;
}

#logo {
  float: right;
  margin: 1%  1% 0% 0%;
  width: 11vh;
}

#pic {
  width: 17%;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 00%;
}

.backdrop #logo {
  display: flex;
}

@media (max-width: 1300px) {
  #pic {
    width: 20vh;
  }
  #git {
    width: 10vh;
  }
  #mail {
    width: 10vh;
  }
}