body {
  overflow-y: hidden;
  background-color: var(--blue_purple3);
}

footer {
  color: #ffffff;
  font-family: var(--brødtekst);
  font-size: 110%;
  position: absolute;
  bottom: 0;
  text-align: center;
}

header {
  position: fixed;
  display: block;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: var(--overskrift)
}

.list {
  margin-top: 2%;
  margin-bottom: 2%;
}

.tekst {
  color: rgb(255, 255, 255);
  font-family: var(--brødtekst);
  margin: 1%;
  text-decoration: none;
  font-size: 110%;
}

.overskrift {
  color: rgb(255, 255, 255);
  font-family: var(--overskrift);
  margin: 1%;
  font-size: 170%;
  text-decoration: none;
}

.backdrop {
  /*parent*/
  background-color: var(--purple);
  border-radius: 20px;
  height: auto;
  margin: 5%;
  height: 80%;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  float: left;
  padding-left: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  border-radius: 20px;
  color: black;
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 20px;
  color: black;
}

.dropdown-content a:hover {
  background-color: var(--blue_purple);
  color: rgb(255, 255, 255);
}

.dropdown:hover .dropdown-content {
  display: block;
}

#byline {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
}

#logo {
  width: 7%;
  float: right;
  margin: 1%;
}

#picture {
  width: 50%;
  float: right;
  border-radius: 20px;
  position: absolute;
}

#passbilde {
  width: 20%;
}

/*
to do
*/