body {
    overflow-x: hidden;
    background-color: var(--blue_purple3);
  }

.backdrop {
    /*parent*/
    background-color: var(--purple);
    border-radius: 20px;
    height: auto;
    margin: 5%;
    height: 80%;
}