:root {
    --light_purple: #661f2e90;
    --purple: #70225a86;
    --blue_purple: #521f597d;
    --blue_purple2: #5222707a;
    --blue_purple3: #371f667c;
    --overskrift: Verdana, Geneva, Tahoma, sans-serif;
    --brødtekst: Georgia, 'Times New Roman', Times, serif;
  }

  body {
    overflow-x: hidden;
    background-color: var(--blue_purple3);
  }

.backdrop {
    /*parent*/
    background-color: var(--purple);
    border-radius: 20px;
    height: auto;
    margin: 5%;
    height: 80%;
}

.tekst {
    color: rgb(255, 255, 255);
    font-family: var(--brødtekst);
    margin: 1%;
    text-decoration: none !important;
  }
  
  .overskrift {
    color: rgb(255, 255, 255);
    font-family: var(--overskrift);
    margin: 1%;
    font-size: 170%;
    text-decoration: none !important;
  }