:root {
    --light_purple: #661f2e90;
    --purple: #70225a86;
    --blue_purple: #521f597d;
    --blue_purple2: #5222707a;
    --blue_purple3: #371f667c;
    --overskrift: Verdana, Geneva, Tahoma, sans-serif;
    --brødtekst: Georgia, 'Times New Roman', Times, serif;
  }