:root {
    --gray1: #ffffff;
    --green3: #C9D4C7;
    --green2: #325928;
    --green1: #ABED9A;
    --gray2: #50544F;
    --overskrift: Verdana, Geneva, Tahoma, sans-serif;
    --brødtekst: "Rubik", sans-serif;;
  }