:root {
    --light_purple: #FFCCFF;
    --purple: #BB91D9;
    --blue_purple: #C2ACF0;
    --blue_purple2: #A6B8F8;
    --blue_purple3: #9491D9;
  }

overskrift: Verdana (sans-serif)
brodtekst: Georgia (serif)

  body {
    background-color: var(--blue_purple3);
  }